@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter" ,sans-serif;
}

body {
    height:100vh ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7AEA8C;
    min-width: 415px;
}

#container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0,0,0,.212);
    max-height: 730px;
    min-height: 559px;   
}

#left-side{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #dd9f5d;
    /* #DF86EB */
    /* #EBAA63 */
    /* #EECEAB */
}

#left-side img{
    width: 31rem;
}

#right-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 3rem;

}

#header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.button-header{
    display: flex;
    align-items: center;
}

.button-header button {
    border: none;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    background-color: #74D463;
    /* #9C5463 */
    cursor: pointer;
    /* muda o icone do mouse quando ele está por cima desse elemento */
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.button-header button a {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

#header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #74D463;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

#input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
}

.input-box input:hover{
    /* box-shadow: 2px 2px 12px black; */
    background-color: #eeeeee75;
}

/* para mudar a cor da borda do input */
.input-box input:focus-visible{
    outline: 1px solid #74D463;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
}

.gender-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender{
    display: flex;
    align-items: center;
}

.gender input{
    margin-right: 0.35rem;
}

.gender label{
    font-size: 0.81rem;
    font-weight: 600;
    color: black
}

#button-confirme button{
    width: 100%;
    padding: 0.6rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74D463;
    border-radius: 10px;
    cursor: pointer;
}

#button-confirme button a{
    text-decoration: none;
    font-size: 0.91rem;
    font-weight: 500;
    color: white;
}

@media screen and (max-width: 1330px){
    #left-side{
        display: none;
    }

    #container{
        width: 50%;
    }

    #right-side{
        width: 100%;
    }
}

@media screen and (max-width: 1064px){
    /* CONTAINER VAI TER 90% DA TELA E VAI TER UM SCROLL NOS QUESTS */
    #container{
        width: 90%;
        height: auto; 
        /* altura vai ser no automatico */
    }

    #input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        /* importante para não quebrar */
        max-height: 10rem;
        padding-right: 5rem;
    }

    #gender-group{
        margin-top: 2rem;
    }

    #gender-inputs{
        flex-direction: column;
    }

    .gender{
        margin-top: 1.5rem;
    }
    
}